{% extends 'base.twig' %}

{% block content %}
<div class="container">
	<div class="starter-template">
		<h1>About</h1>
		<p class="lead">
			Data generator ini dibuat karena :  S2FsYXUga2FtdSBiaXNhIG1lbWJhY2EgaW5pLCBhZGEgaGFsIHlhbmcgbWF1IGFrdSBzYW1wYWlrYW4uCkFrdSBtYXNpaCBtZW55aW1wYW4gcmFzYSBzYXlhbmcgc2FtYW11IHNhbXBhaSBzYWF0IGluaSwgdGFwaSBha3UganVnYSBnYWsgYmVyaGFyYXAgYmFueWFrIGtvay4gQWt1IGhhbnlhIGJlcmhhcmFwIGRpcmltdSB0YXUga2FsYXUgYWt1IHNheWFuZy4gVGVyaW1ha2FzaWggc3VkYWggbWF1IG1lbmdhcnRpa2FuIHR1bGlzYW4gaW5pLCBrYXJlbmEgYWt1IGdhayBiaXNhIG5ndW5na2FwaW4gbGFuZ3N1bmcsIGphZGkgYWt1IGhhcmFwIHR1bGlzYW4gaW5pIGJpc2EgamFkaSBtZWRpYSB1bnR1ayB1bmdrYXBpbiBwZXJhc2FhbiBha3UgOicp (BASE64 ENCODING)
		</p>
	</div>
</div>
{% endblock %}