{% extends 'base.twig' %}

{% block content %}
<div class="container">
	<div class="starter-template">
		<h1>Data Generator</h1>
		<form id="generator">
			<div class="form-group">
				<label>XXXXXX</label>
				<input type="text" class="form-control" name="ZZZZZZZZZ" placeholder="XXXXXX">
			</div>
		</form>
	</div>
</div>
{% endblock %}